.container {
    width: 100vw;
    height: 100vh;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: start; 
    flex-flow: row wrap;
    align-content: start;
}

.box {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border: 1px solid black;
    margin: 10px;
}

.box1{
    order: 2;
}

.box3{
    order: -2;
}