* {
    margin: 0;
    border: 0;
}

.container {
    width: 800px;
    height: 2000px;
    background-color: aqua;
    border: 1px solid red;
    margin: 10px;
    position: relative;
}

.container1 {
    width: 800px;
    height: 2000px;
    background-color: green;
}

.box1 {
    width: 200px;
    height: 100px;
    background-color: burlywood;
    border: 1px solid black;
    left: 100px;
    top: 0px;
    position: absolute;
}

.box2 {
    width: 200px;
    height: 100px;
    background-color: blue;
    border: 1px solid black;
    position: sticky;
    top: 0px;
    
    /* left: 0px;
    top: 0px;
    position: absolute; */
}

.box3 {
    width: 200px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
    position: fixed;
    /* left: 0px;
    top: 0px;
    position: absolute; */
}